.goodsTop {
    padding-top: 75px;
    position: relative;
}

.goodsTop h2 {
    font-weight: 900;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #272525;
    max-width: 475px;
    margin-bottom: 20px;
}

.goodsTop p {
    font-size: 16px;
    line-height: 130%;
    color: #454747;
    max-width: 625px;
}