.goodsTop {
    padding-top: 75px;
    padding-bottom: 300px;
    position: relative;
}

.goodsTop h2 {
    font-weight: 900;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #272525;
    max-width: 475px;
    margin-bottom: 20px;
}

.goodsTop p {
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: #454747;
    max-width: 630px;
    margin-bottom: 15px;
}

.goodsTop > img {
    position: absolute;
    right: 0;
    top: 40px;
}

.goodsTop-showMore {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.goodsTop-showMore span {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #454747;
}

.goodsTop-showMore img {
    position: absolute;
    left: 120px;
}