.goodsComponentItem {
    /* width: 378px;
    background-color: #ffffff;
    border-radius: 15px; */
    position: relative;
    /* padding-bottom: 9px;
    height: 632px;
    width: 378px; */
}
/* 
.goodsComponentItem-top {
    position: relative;
    background-color: #F1F1F8;
    border-radius: 12px 12px 0 0;
    height: 387px;
} */

.goodsComponentItem-top:hover .goodsComponentItem-favorite {
    display: block;
}

.goodsComponentItem-photo {
    padding-top: 19px;
    padding-left: 45px;
}

.goodsComponentItem-favorite {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 15px;
}


@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}


.goodsComponentItem-favorite-active {
    display: block;
    animation: rotate .6s ease-in-out;
}

.goodsComponentItem>h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 105.5%;
    padding-top: 15px;
    padding-left: 16px;
    margin-bottom: 12px;
}

.goodsComponentItem>p {
    max-width: 224px;
    padding-left: 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 105.5%;
    color: #272525;
    margin-bottom: 15px;
}

.goodsComponentItem-colors {
    display: flex;
    padding-left: 16px;
    margin-bottom: 54px;
}

.goodsComponentItem-color {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.goodsComponentItem-color:not(:last-child) {
    margin-right: 4.5px;
}

.goodsComponentItem-color-1 {
    background-color: #524983;
}

.goodsComponentItem-color-2 {
    background-color: #309F85;
}

.goodsComponentItem-color-3 {
    background-color: #F1F1F1;
}

.goodsComponentItem>span {
    padding-left: 16px;
    font-weight: 600;
    font-size: 24px;
    line-height: 105.5%;
    color: #C4C4C4;
}

.goodsComponentItem-cart {
    position: absolute;
    right: 19px;
    bottom: 10px;
    cursor: pointer;
}