.goodsComponentItem {
    width: 378px;
    background-color: #ffffff;
    border-radius: 15px;
}

.goodsComponentItem-top {
    position: relative;
    background-color: #F1F1F8;
    border-radius: 12px 12px 0 0;
}

.goodsComponentItem-photo {
    padding-top: 19px;
    padding-left: 45px;
}

.goodsComponentItem-favorite {
    position: absolute;
    top: 12px;
    right: 15px;
}

.goodsComponentItem h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 105.5%;
    padding-top: 15px;
    padding-left: 16px;
    margin-bottom: 12px;
}

.goodsComponentItem p {
    padding-left: 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 105.5%;
    color: #272525;
}