.sewingGrid-bg {}

.sewingGrid-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #272525;
}

.sewingGrid-desc {
    line-height: 130%;
    letter-spacing: 0.065em;
    text-transform: lowercase;
    color: #454747;
}

.sewingGrid-grid {}