.sewingGrid-bg {}

.sewingGrid-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #272525;
}

.sewingGrid-desc {
    display: block;
    line-height: 130%;
    letter-spacing: 0.065em;
    text-transform: lowercase;
    color: #454747;
    margin-bottom: 30px;
}

.sewingGrid-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}

.sewingGrid-grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sewingGrid-grid-item {
    border-radius: 15px;
}