.cooperation {
    padding-top: 58px;
    padding-bottom: 132px;
}

.cooperation-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #222227;
    margin-bottom: 78px;
}

.carousel-container2 {
    width: 100%;
}
