.sewingTop {
    padding-top: 75px;
}

.sewingTop h2 {
    max-width: 800px;
    font-weight: 900;
    font-size: 48px;
    line-height: 60px;
    text-transform: uppercase;
    color: #272525;
    margin-bottom: 20px;
}

.sewingTop p {
    max-width: 650px;
    font-weight: 400;
    line-height: 130%;
    color: #454747;
}

.sewingTop-buttonDiv button {
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    /* text-align: center; */
}