.cart {
    width: 70px;
    height: 70px;
    background-color: green;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 15px solid greenyellow;
    position: fixed;
    right: calc((100vw - 1600px) / 2);
    bottom: 30px;
}

/* .cart img {

} */