.cart {
    width: 70px;
    height: 70px;
    background-color: green;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 15px solid greenyellow;
    position: absolute;
    right: 0;
    bottom: 0;
}

/* .cart img {

} */