.cart {
    width: 70px;
    height: 70px;
    background-color: #1FAB8A;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 15px solid rgba(255, 255, 255, 0.5);
    position: fixed;
    right: 30px;
    bottom: 30px;
    cursor: pointer;
}

.cart span {
    position: absolute;
    right: 0;
    top: 0;
    font-weight: 500;
    font-size: 12.6667px;
    line-height: 105.5%;
    color: #272525;
    padding: 19px;
}