.goodsComponent-container {
    background-image: url(../../images/shapka1.png);
    background-repeat: no-repeat;
    position: relative;
}

.goodsComponent {
    z-index: 1000px;
}

.goodsComponent-categoryList {
    padding-top: 200px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    z-index: 10;
    top: -230px;
    width: 1600px;
}

.goodsComponent-categoryList-bar {
    max-width: 1600px;
    position: absolute;
    width: 100%;
    padding: 4px 0;
    border-radius: 6px;
    background-color: #F2F1F8;
    bottom: 65px;
    z-index: 1000;
}

.zzz {
    position: absolute;
    width: 1700px;
    padding: 100px;
    background-color: rgba(250, 250, 250, 1);
    z-index: 0;
    top: 0;
}

.goodsComponent-categoryList-bg {
    position: absolute;
    padding: 120px 0;
    width: 100%;
    background-image: url(../../images/shapka1.png);
    background-repeat: no-repeat;
    transform: translateY(-250px);
}

/* 
 .goodsComponent-categoryList::before {
     content: '';
     max-width: 1600px;
     width: 100 %;
     height: 8px;
     border-radius: 6px;
     position: absolute;
     background-color: #F2F1F8;
     top: -41px;
 } */

.goodsComponent-categoryList li {
    padding: 15px;
    font-weight: 600;
    font-size: 18px;
    line-height: 105.5%;
    text-align: center;
    color: #8E8E8E;
    cursor: pointer;
    z-index: 10;
}

.goodsComponent-categoryList>li:hover {
    color: #FAFAFA;
    background: #272525;
    box-shadow: 0px 16.0566px 20.0707px -4.01414px rgba(26, 32, 44, 0.1), 0px 8.02828px 8.02828px -4.01414px rgba(26, 32, 44, 0.04);
    border-radius: 6px;
}


.goodsComponent-list {
    padding-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 27px;
    margin-bottom: 30px;
}

.goodsComponent-showMore {
    position: relative;
    cursor: pointer;
    margin-left: 16px;
    max-width: 180px;
}

.goodsComponent-showMore span {
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    color: #272525;
}

.goodsComponent-showMore img {
    position: absolute;
    left: 180px;
    top: 10px;
}

.hide {
    transform: rotate(180deg);
}