.popupGood {
    display: flex;
}

.popupGood__photos {
    margin-right: 56px;
}

.popupGood__photos-main {
    margin-bottom: 10px;
}

.popupGood__photos-photo {
    margin-right: 10px;
}

.popupGood-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-transform: uppercase;
    color: #272525;
    max-width: 596px;
    margin-bottom: 20px;
}

.popupGood-colors {
    display: flex;
    margin-bottom: 32px;
}

.popupGood-price {
    font-weight: 600;
    font-size: 24px;
    line-height: 105.5%;
    color: #272525;
    margin-bottom: 10px;
}

.popupGood__order {
    display: flex;
}