.popupGood {
    display: flex;
}

.popupGood__photos-main {
    margin-bottom: 10px;
}

.popupGood__photos-photo {
    margin-right: 10px;
}

.popupGood-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-transform: uppercase;
    color: #272525;
}

.popupGood__order {
    display: flex;
}